@import "layout";
@import "colors";

.breadcrumb {
    margin-top: 70px;
    @include breadcumb;
}
.cart {
    margin-bottom: 44px;
    @include table;
    margin-top: 70px;
    h3 {
        font-family: $poppins;
        font-size: 20px;
    }
    .qty {
        a:hover {
            text-decoration: none;
        }
        .minus {
            display: block;
            float: left;
            width: 24px;
            height: 24px;
            border: 1px solid $smothgrey;
            text-align: center;
            font-size: 14px;
            color: $mainColor;
            box-sizing: border-box;
            border-radius: 8px 0px 0px 8px;
    
        }
        .plus {
            display: block;
            float: left;
            width: 24px;
            height: 24px;
            border: 1px solid $smothgrey;
            text-align: center;
            font-size: 14px;
            color: $mainColor;
            box-sizing: border-box;
            border-radius: 0px 8px 8px 0px;
    
        }
        .qty-input {
            display: block;
            float: left;
            width: 24px;
            height: 24px;
            border: 1px solid $smothgrey;
            text-align: center;
            font-size: 14px;
            color: $mainColor;
            box-sizing: border-box;
            border-radius: 0px;
    
            
    
        }
    }
}
.card-right {
    .payment   {
        font-family: $poppins;
        th {
            color: $smothgrey;            
            font-weight: 300;
        }
        td {
            color: $mainColor;
            font-weight: normal;
        }
        input {
            ::placeholder {
                color: $smothgrey;
            }
        }
    }
    .btn-aply {
        @include btnPrimary;
    }
    .card-expired {
        background-color: $smothred;
        p { 
            font-weight: normal;
            font-size: 12px;
            margin-top: 0.6em; margin-bottom: 0em;
            color: $mainColor;

            span {
                color: $red;
            }
        }
    }
}

.ekspedisi {
    @include ekspedisi;
}
.ekspedisi-active {
    @include ekspedisi-active;
}

.service {
    @include ekspedisi;
}

.service-active {
    @include ekspedisi-active;
}
