@import "layout";
@import "colors";
footer {
    @include footer;
    background-color: $secondMain;
    .copyright {
        background-color: $mainColor;
        p {
            color: white;
            font-weight: normal;
        }
    }
}