@import "colors";
$source : 'Source Sans Pro','sans-serif';
$poppins : 'Poppins';


@mixin heroTitle {
    font-family: 'Source Sans Pro','sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: white;
};

@mixin subHeroTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: '600';
    font-size: 18px;
    color: white;
}

@mixin title {
    h2 {
        font-size: 36px;
        font-family: $poppins;
        font-weight: 600;
        color: $mainColor;
        span {
            color: $titleColor;
        }
    }
    p {
        font-family: $poppins;
        font-size: 16px;
        color: $smothgrey;
        font-weight: lighter;
        
    }
}

@mixin products {
    h5 {
        font-family: $poppins;
        font-weight: 600;
        font-weight: normal;
        font-size: 20px;
    }
    p {
        font-family: $poppins;
        font-weight: bold;
        font-size: 14px;
        color: $success;
        margin-top: 0.6em; margin-bottom: 0em;
        span {
            font-size: 12px;
            font-weight: lighter;
            color: $smothgrey;
            text-decoration: line-through;
        }
    }

}

@mixin promosi {
    
    h4 {
        font-family: $source;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 40px;
    }
    h2 {
        font-family: $source;
        color: white;
        font-weight: bold;
        font-size: 60px;
        text-transform: uppercase;
        color: $secondaryColor;
    }
    p {
        color: white;
        font-size: 14px;
        font-weight: lighter;
        font-family: $poppins;
    }
}

@mixin footer {
    p {
        font-family: $poppins;
        font-weight: lighter;
        font-size: 14px;
        color: white;
    }
    a {
        font-family: $poppins;
        font-weight: lighter;
        font-size: 16px;
        color: white;

        span {
            font-weight: bold;
        }
    }
    h5 {
        font-size: 40px;
        font-family: $poppins;
        color: white;
    }
}

@mixin breadcumb {
    .breadcrumb-item {
        font-family: $poppins;
        font-size: 14px;
        color: $smothgrey;
        font-weight: lighter;
    }
    .active {
        font-family: $poppins;
        color: $mainColor;
        font-weight: normal;
    }
}

@mixin table {
    .table {
        th {
            font-family: $poppins;
            font-weight: 600;
            font-size: 16px;
            color: $mainColor;
        }
        border-radius: 8px;
        @include products;
    }
}

@mixin  ekspedisi {
    h5 {
        font-family: $poppins;
        font-weight: 600;
        font-size: 14px;
    }
    p {
        font-family: $poppins;
        font-weight: 300;
        color: $smothgrey;
        font-size: 12px;
    }
    .text-price{
        font-size: 12px;
        color: $success;
        font-weight: bold;
        font-family: $poppins;
    }
}

@mixin ekspedisi-active {
    .card {
        border: $blue 2px solid;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
        h5 {
            font-family: $poppins;
            font-weight: 600;
            color: $blue;
            font-size: 14px;
        }
        p {
            font-family: $poppins;
            font-weight: 300;
            color: $smothgrey;
            font-size: 12px;
        }
        .text-price{
            font-size: 12px;
            color: $success;
            font-weight: bold;
            font-family: $poppins;
        }
    }
} 

