@media (min-width: 320px) {
    .grid__product-filter {
        grid-template-columns: 0.5fr 1fr 2fr ;
        * {
        align-self: center;
        justify-content: center;
        font-size: 14px;
        }
    }
    .container__product-list {
        :hover {
            text-decoration: none;
        }
        .label__product-list {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            margin-left: 20px;
        }
        .wishlist__product-list {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            margin-top: 10px;
            margin-right: 10px;
            border: 0;
            background: none;
            transition: all 0.25s;
            img {
                height: 36px;
                width: 36px;
            }
            :hover {
                transform: scale(1.1);
            }
        }
    }
    .item__product-list {
        a:hover {
            @include soft-shadow(4px 4px 4px 0px);
        }
    }
    .body__product-list {
        * {
            font-family: $secondary-font;
        }
        .title__product-list {
            font-weight: normal;
            font-size: 1rem;
            color: $main-color;
        }
        .price__product-list {
            :first-child {
                font-size: 12px;
                color: $success;
                font-weight: 500;
            }
            :last-child {
                font-size: 10px;
                color: $secondary-title-color;
                font-weight: normal;
                text-decoration: line-through;
            }
        }
        .color__product-list, .rate__product-list {
            display: flex;
            justify-content: space-around;
            font-size: 12px;
        }
        .color__product-list {
            top: 0;
            :nth-child(1) {
                color: $purple-color;
            }
            :nth-child(2) {
                color: $red;
            }
            :nth-child(3) {
                color: $primary-title-color;
            }
            :nth-child(4) {
                color: $success;
            }
        }
        .rate__product-list {
            margin-top: 1rem;
            .rated {
                color: $secondary-color;
            }
            .no-rated {
                color: $smooth-gray;
            }
        }
    }
    .breadcrumb__detail {
        a {
            font-weight: normal;            
            color: $main-color;
        }
        ol {
            li:last-child {
                font-weight: bold;
            }
        }
    }
    .images-container__detail {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 'main main main main''main main main main' 'main main main main' 'thumb1 thumb2 thumb3 thumb4';
        gap: 0.75rem;
        * {
            max-width: 100%;
        }
        img {
            border-radius: 0.5rem;
        }
        .main-image__detail {
            grid-area: main;
            height: 360px;
            width: 100%;
            object-fit: cover;
        }
        .image-thumb-1__detail {
            grid-area: thumb1;
        }
        .image-thumb-2__detail {
            grid-area: thumb2;
        }
        .image-thumb-3__detail {
            grid-area: thumb3;
        }
        .image-thumb-4__detail {
            grid-area: thumb4;
        }
    }
    .image-thumb-1__detail, .image-thumb-2__detail, .image-thumb-3__detail, .image-thumb-4__detail {
        height: 64px;
        img {
            object-fit: cover;
            border: none;
            margin: 0;
            padding: 0;
        }
    }
  }

@media (min-width:640px) {
    .grid__product-filter {
        grid-template-columns: 1fr 2fr 6fr ;
        * {
            font-size: 1rem;
        }
    }
}

@media (min-width: 992px) {
    .section__product-list {
        border-left: 0.1rem $smooth-gray solid;
    }
    .images-container__detail {
        grid-template-areas: 'thumb1 main main main''thumb2 main main main' 'thumb3 main main main' 'thumb4 main main main';
        .main-image__detail {
            height: 100%;
        }
    }
    .image-thumb-1__detail, .image-thumb-2__detail, .image-thumb-3__detail, .image-thumb-4__detail {
        height: auto;
    }
}