// Typography
$primary-font : 'Source Sans Pro', sans-serif;
$secondary-font : 'Poppins', sans-serif;
$base-font-size: 16px;

// Color
$main-color: #282828;
$main-color-rgb: 40, 40, 40;
$secondary-main-color: #3D3D3D;
$secondary-main-color-rgb: 61, 61, 61;
$secondary-color: #F9C615;
$secondary-color-rgb: 249, 198, 21;
$primary-title-color: #380093;
$primary-title-color-rgb: 56, 0, 147;
$secondary-title-color: #828282;
$secondary-title-color-rgb: 130, 130, 130;
$red: #F50000;
$red-rgb: 245, 0, 0;
$purple-color: #4A3F13;
$secondary-red: #FDF3F5;
$secondary-red-rgb: 253, 243, 245;
$success: #02B714;
$success-rgb: 2, 183, 20;
$white: #FFFFFF;
$white-rgb: 255, 255, 255;
$smooth-gray: #DFDFDF;
$smooth-gray-rgb: 223, 223, 223;

/*Mixin*/
@mixin soft-shadow($position) {
	box-shadow: rgba(0, 0, 0, 0.05) $position;
}