.carousel {
  min-height: 600px;
}

.carousel h1 {
  font-family: 'Source Sans Pro','sans-serif';
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: white;
}

.carousel h1 span {
  color: #F9C615;
}

.carousel p {
  margin-top: 20px;
  margin-bottom: 60px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: '600';
  font-size: 18px;
  color: white;
}

.carousel .btn-buy-now {
  background-color: #F9C615;
  color: white;
  font-family: "Poppins";
  font-weight: 600;
}

.carousel .btn-buy-now:hover {
  background-color: #FFD84D;
  color: white;
}

.carousel .btn-show-other {
  background-color: rgba(249, 198, 21, 0.1);
  color: #F9C615;
}

.carousel .btn-show-other:hover {
  background-color: #634E02;
  font-family: "Poppins";
  font-weight: 600;
}

.section-network h2 {
  font-size: 36px;
  font-family: "Poppins";
  font-weight: 600;
  color: #282828;
}

.section-network h2 span {
  color: #380093;
}

.section-network p {
  font-family: "Poppins";
  font-size: 16px;
  color: #bdbdbd;
  font-weight: lighter;
}

.featured-products {
  margin-bottom: 100px;
}

.featured-products h2 {
  font-size: 36px;
  font-family: "Poppins";
  font-weight: 600;
  color: #282828;
}

.featured-products h2 span {
  color: #380093;
}

.featured-products p {
  font-family: "Poppins";
  font-size: 16px;
  color: #bdbdbd;
  font-weight: lighter;
}

.featured-products .product-items h5 {
  font-family: "Poppins";
  font-weight: 600;
  font-weight: normal;
  font-size: 20px;
}

.featured-products .product-items p {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 14px;
  color: #02B714;
  margin-top: 0.6em;
  margin-bottom: 0em;
}

.featured-products .product-items p span {
  font-size: 12px;
  font-weight: lighter;
  color: #bdbdbd;
  text-decoration: line-through;
}

.featured-products .product-items .ic-wishlist {
  height: 36px;
  width: 36px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}

.featured-products .product-items .ic-wishlist:hover {
  height: 40px;
  width: 40px;
}

.featured-products .product-items .ic-label {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin-left: 20px;
}

.featured-products .product-items:hover {
  -webkit-box-shadow: 0px 5px 18px 2px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 5px 18px 2px rgba(0, 0, 0, 0.13);
}

.featured-products .btn-see-more {
  background-color: #F9C615;
  color: white;
  font-family: "Poppins";
  font-weight: 600;
}

.featured-products .btn-see-more:hover {
  background-color: #FFD84D;
  color: white;
}

h4 {
  font-family: "Source Sans Pro", "sans-serif";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
}

h2 {
  font-family: "Source Sans Pro", "sans-serif";
  color: white;
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  color: #F9C615;
}

p {
  color: white;
  font-size: 14px;
  font-weight: lighter;
  font-family: "Poppins";
}

.sponsor {
  margin-top: 100px;
}

footer {
  background-color: #3D3D3D;
}

footer p {
  font-family: "Poppins";
  font-weight: lighter;
  font-size: 14px;
  color: white;
}

footer a {
  font-family: "Poppins";
  font-weight: lighter;
  font-size: 16px;
  color: white;
}

footer a span {
  font-weight: bold;
}

footer h5 {
  font-size: 30px;
  font-family: "Poppins";
  color: white;
}

footer .copyright {
  background-color: #282828;
}

footer .copyright p {
  color: white;
  font-weight: normal;
}

.breadcrumb {
  margin-top: 70px;
}

.breadcrumb .breadcrumb-item {
  font-family: "Poppins";
  font-size: 14px;
  color: #bdbdbd;
  font-weight: lighter;
}

.breadcrumb .active {
  font-family: "Poppins";
  color: #282828;
  font-weight: normal;
}

.cart {
  margin-bottom: 44px;
  margin-top: 70px;
}

.cart .table {
  border-radius: 8px;
}

.cart .table th {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  color: #282828;
}

.cart .table h5 {
  font-family: "Poppins";
  font-weight: 600;
  font-weight: normal;
  font-size: 20px;
}

.cart .table p {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 14px;
  color: #02B714;
  margin-top: 0.6em;
  margin-bottom: 0em;
}

.cart .table p span {
  font-size: 12px;
  font-weight: lighter;
  color: #bdbdbd;
  text-decoration: line-through;
}

.cart h3 {
  font-family: "Poppins";
  font-size: 20px;
}

.cart .qty a:hover {
  text-decoration: none;
}

.cart .qty .minus {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  border: 1px solid #bdbdbd;
  text-align: center;
  font-size: 14px;
  color: #282828;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px 0px 0px 8px;
}

.cart .qty .plus {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  border: 1px solid #bdbdbd;
  text-align: center;
  font-size: 14px;
  color: #282828;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 8px 8px 0px;
}

.cart .qty .qty-input {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  border: 1px solid #bdbdbd;
  text-align: center;
  font-size: 14px;
  color: #282828;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px;
}

.card-right .payment {
  font-family: "Poppins";
}

.card-right .payment th {
  color: #bdbdbd;
  font-weight: 300;
}

.card-right .payment td {
  color: #282828;
  font-weight: normal;
}

.card-right .payment input ::-webkit-input-placeholder {
  color: #bdbdbd;
}

.card-right .payment input :-ms-input-placeholder {
  color: #bdbdbd;
}

.card-right .payment input ::-ms-input-placeholder {
  color: #bdbdbd;
}

.card-right .payment input ::placeholder {
  color: #bdbdbd;
}

.card-right .btn-aply {
  background-color: #F9C615;
  color: white;
  font-family: "Poppins";
  font-weight: 600;
}

.card-right .btn-aply:hover {
  background-color: #FFD84D;
  color: white;
}

.card-right .card-expired {
  background-color: #FDF3F5;
}

.card-right .card-expired p {
  font-weight: normal;
  font-size: 12px;
  margin-top: 0.6em;
  margin-bottom: 0em;
  color: #282828;
}

.card-right .card-expired p span {
  color: #F50000;
}

.ekspedisi h5 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
}

.ekspedisi p {
  font-family: "Poppins";
  font-weight: 300;
  color: #bdbdbd;
  font-size: 12px;
}

.ekspedisi .text-price {
  font-size: 12px;
  color: #02B714;
  font-weight: bold;
  font-family: "Poppins";
}

.ekspedisi-active .card {
  border: #2f80ed 2px solid;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
}

.ekspedisi-active .card h5 {
  font-family: "Poppins";
  font-weight: 600;
  color: #2f80ed;
  font-size: 14px;
}

.ekspedisi-active .card p {
  font-family: "Poppins";
  font-weight: 300;
  color: #bdbdbd;
  font-size: 12px;
}

.ekspedisi-active .card .text-price {
  font-size: 12px;
  color: #02B714;
  font-weight: bold;
  font-family: "Poppins";
}

.service h5 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
}

.service p {
  font-family: "Poppins";
  font-weight: 300;
  color: #bdbdbd;
  font-size: 12px;
}

.service .text-price {
  font-size: 12px;
  color: #02B714;
  font-weight: bold;
  font-family: "Poppins";
}

.service-active .card {
  border: #2f80ed 2px solid;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
}

.service-active .card h5 {
  font-family: "Poppins";
  font-weight: 600;
  color: #2f80ed;
  font-size: 14px;
}

.service-active .card p {
  font-family: "Poppins";
  font-weight: 300;
  color: #bdbdbd;
  font-size: 12px;
}

.service-active .card .text-price {
  font-size: 12px;
  color: #02B714;
  font-weight: bold;
  font-family: "Poppins";
}

.btn-checkout {
  background-color: #F9C615;
  color: white;
  font-family: "Poppins";
  font-weight: 600;
}

.btn-checkout:hover {
  background-color: #FFD84D;
  color: white;
}

.img-active {
  border: solid 3px #2f80ed;
  border-radius: 8px;
}

.navbar-alternative {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 3;
}
/*# sourceMappingURL=main.css.map */