@charset "UTF-8";
/*Mixin*/
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  color: #282828; }

.d-grid {
  display: grid; }

.btn-filter {
  background: #F9C615;
  color: #3D3D3D;
  font-weight: bold; }

.color-secondary-title {
  color: #828282; }

.color-purple {
  color: #77028a; }

.bg-purple {
  background-color: #77028a; }

.bg-smooth-gray {
  background-color: #DFDFDF; }

.bg-second-main {
  background-color: #3D3D3D; }

.secondary-font {
  font-family: "Poppins", sans-serif; }

.navbar__shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px; }

.nav-item {
  font-family: "Source Sans Pro", sans-serif; }

.h6__search-filter {
  font-family: "Poppins", sans-serif; }

.h6__search-filter::before {
  content: '|';
  color: #F9C615;
  padding-right: 1rem; }

.grid__price-filter {
  grid-template-columns: 4fr 1fr 4fr; }
  .grid__price-filter * {
    justify-self: center;
    align-self: center; }

.grid__shirt-categories, .grid__brand-categories {
  grid-template-columns: 0.55fr 5fr 1fr;
  margin: 0.5rem 0 0.5rem; }
  .grid__shirt-categories *, .grid__brand-categories * {
    align-self: center; }
  .grid__shirt-categories :last-child, .grid__brand-categories :last-child {
    text-align: center; }

.label__shirt-categories, .label__brand-categories {
  font-size: 14px; }

.h1__product-list {
  font-weight: 400; }

.grid__product-filter .sortby__product-filter::after {
  content: '—';
  padding-left: 0.5rem; }

.about h1, .about h2, .about h3, .about h4, .about h5 {
  font-family: "Poppins", sans-serif; }
.about p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 16px; }
.about .featured__about p {
  color: #828282; }

@media (min-width: 320px) {
  .grid__product-filter {
    grid-template-columns: 0.5fr 1fr 2fr; }
    .grid__product-filter * {
      align-self: center;
      justify-content: center;
      font-size: 14px; }

  .container__product-list :hover {
    text-decoration: none; }
  .container__product-list .label__product-list {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin-left: 20px; }
  .container__product-list .wishlist__product-list {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    border: 0;
    background: none;
    transition: all 0.25s; }
    .container__product-list .wishlist__product-list img {
      height: 36px;
      width: 36px; }
    .container__product-list .wishlist__product-list :hover {
      transform: scale(1.1); }

  .item__product-list a:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 4px 4px 4px 0px; }

  .body__product-list * {
    font-family: "Poppins", sans-serif; }
  .body__product-list .title__product-list {
    font-weight: normal;
    font-size: 1rem;
    color: #282828; }
  .body__product-list .price__product-list :first-child {
    font-size: 12px;
    color: #02B714;
    font-weight: 500; }
  .body__product-list .price__product-list :last-child {
    font-size: 10px;
    color: #828282;
    font-weight: normal;
    text-decoration: line-through; }
  .body__product-list .color__product-list, .body__product-list .rate__product-list {
    display: flex;
    justify-content: space-around;
    font-size: 12px; }
  .body__product-list .color__product-list {
    top: 0; }
    .body__product-list .color__product-list :nth-child(1) {
      color: #77028a; }
    .body__product-list .color__product-list :nth-child(2) {
      color: #F50000; }
    .body__product-list .color__product-list :nth-child(3) {
      color: #380093; }
    .body__product-list .color__product-list :nth-child(4) {
      color: #02B714; }
  .body__product-list .rate__product-list {
    margin-top: 1rem; }

  .rated {
    color: #F9C615; }

  .no-rated {
    color: #DFDFDF; }

  .breadcrumb__detail a {
    font-weight: normal;
    color: #282828; }
  .breadcrumb__detail ol li:last-child {
    font-weight: bold; }

  .images-container__detail {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "main main main main" "main main main main" "main main main main" "thumb1 thumb2 thumb3 thumb4";
    gap: 0.75rem; }
    .images-container__detail * {
      max-width: 100%; }
    .images-container__detail img {
      border-radius: 0.5rem; }
    .images-container__detail .main-image__detail {
      grid-area: main;
      height: 360px;
      width: 100%;
      object-fit: cover; }
    .images-container__detail .image-thumb-1__detail {
      grid-area: thumb1; }
    .images-container__detail .image-thumb-2__detail {
      grid-area: thumb2; }
    .images-container__detail .image-thumb-3__detail {
      grid-area: thumb3; }
    .images-container__detail .image-thumb-4__detail {
      grid-area: thumb4; }

  .image-thumb-1__detail, .image-thumb-2__detail, .image-thumb-3__detail, .image-thumb-4__detail {
    height: 64px; }
    .image-thumb-1__detail img, .image-thumb-2__detail img, .image-thumb-3__detail img, .image-thumb-4__detail img {
      object-fit: cover;
      border: none;
      margin: 0;
      padding: 0; }

  .description__detail .categories-description__detail, .description__detail .brand-description__detail, .description__detail .product-description__detail {
    font-weight: normal;
    color: #828282; }

  .color__detail h6 {
    font-size: 14px;
    color: #282828; }
  .color__detail button {
    font-size: 2rem; }
  .color__detail button:nth-child(2) {
    color: #77028a; }
  .color__detail button:nth-child(3) {
    color: #F50000; }
  .color__detail button:nth-child(4) {
    color: #380093; }
  .color__detail button:nth-child(5) {
    color: #02B714; }

  .size__detail h6, .price__detail h6, .quantity__detail h6 {
    font-size: 14px;
    color: #282828; }

  .quantity__detail form {
    display: grid;
    grid-template-columns: 1fr auto auto; }

  .action__detail {
    grid-template-columns: 1.65fr auto auto;
    gap: 0.5rem; }
    .action__detail * {
      font-size: 1rem;
      font-weight: 500; }
    .action__detail .buy-action__detail {
      background: #F9C615;
      color: #FFFFFF; }
    .action__detail .cart-action__detail {
      border: 2px solid #F9C615;
      color: #F9C615; }
    .action__detail .wishlist-action__detail {
      height: 40px;
      width: 40px;
      padding: 0;
      color: #000000;
      -webkit-text-fill-color: white;
      /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #000000;
      box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.15); } }
@media (min-width: 640px) {
  .grid__product-filter {
    grid-template-columns: 1fr 2fr 6fr; }
    .grid__product-filter * {
      font-size: 1rem; } }
@media (min-width: 992px) {
  .section__product-list {
    border-left: 0.1rem #DFDFDF solid; }

  .images-container__detail {
    grid-template-areas: "thumb1 main main main" "thumb2 main main main" "thumb3 main main main" "thumb4 main main main"; }
    .images-container__detail .main-image__detail {
      height: 100%; }

  .image-thumb-1__detail, .image-thumb-2__detail, .image-thumb-3__detail, .image-thumb-4__detail {
    height: auto; }

  .customize__detail {
    max-width: 70%; } }

/*# sourceMappingURL=style.css.map */
